*/target/**
*/nbproject/**
/.idea/**
/.git-rewrite/t/domain/target/
/.git-rewrite/t/external/target/
/.git-rewrite/t/service/target/
/.git-rewrite/t/socket/target/
/.git-rewrite/t/usecases/target/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/domain/target/
/usecase/target/
/persistence/target/
/facade/target/
/external/target/
/api/target/
